@charset "UTF-8";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace oxy url('http://www.oxygenxml.com/extensions/author');

oxy|doctype {
    display:block !important;
    color:blue !important;
    background-color:transparent !important;
}

body { font-family: "Libertinus Serif"; font-size: large; line-height: 1.1; }

hi[rendition~="#rend_italic"] {font-style: italic;}
hi[rendition~="#rend_bold"] {font-weight: bold}
hi[rendition~="#rend_subscript"] {vertical-align: sub;}
hi[rendition~="#rend_smallcaps"] {font-variant: small-caps;}

/*[xml|lang="ru"] [rend~="smallcaps"] {font-family: "Libertinus Sans"; font-size: 90%; letter-spacing: 3px}*/
[xml|lang="ru"] [rend~="#rend_doublequotes"]::before {content: "„"}
[xml|lang="ru"] [rend~="#rend_doublequotes"]::after {content: "“"}
[rend~="hide"] {text-decoration: line-through}

q::before {content: "‘";}
q::after {content: "’";}

teiHeader {display: none}

body > entry {display: block}
body > entry[n]:before {content: attr(n); vertical-align: super; font-size: .7em;}
body > entry + entry {margin-top: 10px}

lang {font-style: normal}
/*[xml|lang="os"] lang[xml|lang="ru"]:empty {content: "ос."}
[xml|lang="os"] lang[xml|lang="en"]:empty {content: "Ossetic"}
[xml|lang="os-x-iron"] lang[xml|lang="ru"]:empty {content: "и."}
[xml|lang="os-x-iron"] lang[xml|lang="en"]:empty {content: "Iron Ossetic"}
[xml|lang="os-x-digor"] lang[xml|lang="ru"]:empty {content: "д."}
[xml|lang="os-x-digor"] lang[xml|lang="en"]:empty {content: "Digor Ossetic"}
[xml|lang="os-x-south"] lang[xml|lang="ru"]:empty {content: "ю."}
[xml|lang="os-x-south"] lang[xml|lang="en"]:empty {content: "South Ossetic"}


[xml|lang="ru"] lang[xml|lang="ru"]:empty {content: "рус."}
[xml|lang="ru"] lang[xml|lang="en"]:empty {content: "Russian"}*/

mentioned > lang {font-weight: bold}
usg + form::before {content: " "}
form + usg::before {content: " "}

form {display: inline}
/*orth {font-style: italic}*/
form[xml|lang="os-x-iron"] + form[xml|lang="os-x-digor"]::before {content: " | ";}
w[xml|lang="os-x-iron"] + w[xml|lang="os-x-digor"]::before {content: " | "; font-style: normal;}
entry > form orth {font-weight: bold}
orth + form[type="variant"]::before {content: ", "}
orth + form[type="variant"][rendition~="#rend_parens"]::before {content: " ("}
orth + form[type="variant"][rendition~="#rend_parens"]::after {content: ")"}
orth + form[type="participle"]::before {content: " : "}
form > form + form[type="variant"]::before {content: ", "}

re > form orth {font-style: italic}

sense {display: inline}
sense[n]:before {content: " " attr(n) ". "}
entry > sense + sense:before {content: "; "}
entry > sense + sense[n]:before {content: "; " attr(n) ". "}
entry > form + sense:before, re > form + sense:before {-oxy-prepend-content: " "}
/*entry > sense:last-of-type::after {content: ". "}*/
usg + sense:before {-oxy-prepend-content: " "}
note + sense:before {-oxy-prepend-content: " "}
/*re::after {content: ". "}*/

sense > re:before {content: "; "}
note + re:before {content: "; "} 

sense > sense + sense:before {-oxy-prepend-content: ", "}
def {display: inline}

note {display: inline; font-size: 100%}

tr {display: inline;}
tr + def::before {content: "; "}

tr > q {margin-bottom: 0; margin-left: 0; margin-right: 0; quotes: '‘' '’';}
tr q::before {content: "‘";}
tr q::after {content: "ʼ";}
quote + tr::before {content: " "}
example > tr:lang(ru) + tr:lang(en)::before {content: " "}

/*q + note[type="comment"]::before {content: " ";}*/

tr:lang(en) + tr:lang(en)::before {content: ", "}
tr:lang(ru) + tr:lang(ru)::before {content: ", "}

exampleGrp {display: inline;}
exampleGrp::before {content: ". — ";}
re > exampleGrp::before {content: ": ";}
exampleGrp[n]::before {content: ". — " attr(n) ". ";}
example {display: inline;}
example + example::before {content: "; "}
/*example:last-of-type::after {content: "."}*/

exampleGrp + re::before {content: ". — ";}

/*bibl[corresp]::before {content: attr(corresp);}*/
example > bibl::before{content: " (";}
example > bibl::after{content: ")";}
/*bibl > biblScope::before{content: " ";}*/

example > note::before{content: " (";}
example > note::after{content: ")";}

ref[target]:empty::before {content:attr(target); font-style: italic; background-color: grey;}

quote {display: inline; font-style: italic}
usg + quote::before {content: " ";}

/*etym {display: block; margin-top: 1ex}*/
etym::before {content: ".\a~ "}



w {font-style: italic;}
c {font-style: italic;}
m {font-style: italic;}
phr {font-style: italic;}
/*mentioned > lang::after {content: " ";}*/
/*mentioned > note + w, mentioned > note + c, mentioned > note + m::after {content: " ";}*/
/*mentioned > w + w::before {content: ", ";}
mentioned > w + gloss::before {content: " ";}*/

/*gloss::before {-oxy-prepend-content: "‘";}
gloss::after {-oxy-prepend-content: "ʼ";}*/
/*w + gloss::before {-oxy-prepend-content: " ";}
m + gloss::before {-oxy-prepend-content: " ";}
c + gloss::before {-oxy-prepend-content: " ";}*/

p {display: block}

table {display: inline-table}

lb::after {content: "\A"}

form[type~="rec"]::before {content:"*"}
w[type~="rec"]::before {content:"*"}
m[type~="rec"]::before {content:"*"}
c[type~="rec"]::before {content:"*"}

entry > sense + re::before{content: "; "}
entry > re + re::before {content: "; "}
entry > form + re::before {content: ": "}

note[type="footnote"] {vertical-align: sub; font-size: small}

oRef {font-style:italic}
quote > oRef {font-weight:bold;}
oRef:empty {content: oxy_xpath("(ancestor::entry | ancestor::re)/form[1]/orth[1]/text()")}

author {letter-spacing: 3px;}