@charset "UTF-8";
@namespace xml "http://www.w3.org/XML/1998/namespace";
:lang(ab) > lang:empty {content: "абх.";}
*[extralang~="ab"] > lang:empty {-oxy-append-content: ", абх.";}
:lang(abq) > lang:empty {content: "абаз.";}
*[extralang~="abq"] > lang:empty {-oxy-append-content: ", абаз.";}
:lang(abq-x-dial) > lang:empty {content: "абаз. (диал.)";}
*[extralang~="abq-x-dial"] > lang:empty {-oxy-append-content: ", абаз. (диал.)";}
:lang(ady) > lang:empty {content: "адыг.";}
*[extralang~="ady"] > lang:empty {-oxy-append-content: ", адыг.";}
:lang(ady-x-abadz) > lang:empty {content: "абадз.";}
*[extralang~="ady-x-abadz"] > lang:empty {-oxy-append-content: ", абадз.";}
:lang(ady-x-shpsg) > lang:empty {content: "шапс.";}
*[extralang~="ady-x-shpsg"] > lang:empty {-oxy-append-content: ", шапс.";}
:lang(ae) > lang:empty {content: "ав.";}
*[extralang~="ae"] > lang:empty {-oxy-append-content: ", ав.";}
:lang(ae-x-gth) > lang:empty {content: "ав. (гаты)";}
*[extralang~="ae-x-gth"] > lang:empty {-oxy-append-content: ", ав. (гаты)";}
:lang(agx) > lang:empty {content: "агул.";}
*[extralang~="agx"] > lang:empty {-oxy-append-content: ", агул.";}
:lang(aii) > lang:empty {content: "ассир.";}
*[extralang~="aii"] > lang:empty {-oxy-append-content: ", ассир.";}
:lang(akk) > lang:empty {content: "аккад.";}
*[extralang~="akk"] > lang:empty {-oxy-append-content: ", аккад.";}
:lang(akv) > lang:empty {content: "ахвах.";}
*[extralang~="akv"] > lang:empty {-oxy-append-content: ", ахвах.";}
:lang(alt) > lang:empty {content: "алт.";}
*[extralang~="alt"] > lang:empty {-oxy-append-content: ", алт.";}
:lang(alt-x-teleut) > lang:empty {content: "телеут.";}
*[extralang~="alt-x-teleut"] > lang:empty {-oxy-append-content: ", телеут.";}
:lang(ang) > lang:empty {content: "англос.";}
*[extralang~="ang"] > lang:empty {-oxy-append-content: ", англос.";}
:lang(ani) > lang:empty {content: "анд.";}
*[extralang~="ani"] > lang:empty {-oxy-append-content: ", анд.";}
:lang(aqc) > lang:empty {content: "арчин.";}
*[extralang~="aqc"] > lang:empty {-oxy-append-content: ", арчин.";}
:lang(ar) > lang:empty {content: "араб.";}
*[extralang~="ar"] > lang:empty {-oxy-append-content: ", араб.";}
:lang(arc) > lang:empty {content: "арам.";}
*[extralang~="arc"] > lang:empty {-oxy-append-content: ", арам.";}
:lang(av) > lang:empty {content: "авар.";}
*[extralang~="av"] > lang:empty {-oxy-append-content: ", авар.";}
:lang(az) > lang:empty {content: "азерб.";}
*[extralang~="az"] > lang:empty {-oxy-append-content: ", азерб.";}
:lang(ba) > lang:empty {content: "башк.";}
*[extralang~="ba"] > lang:empty {-oxy-append-content: ", башк.";}
:lang(bbl) > lang:empty {content: "туш.";}
*[extralang~="bbl"] > lang:empty {-oxy-append-content: ", туш.";}
:lang(bdk) > lang:empty {content: "будух.";}
*[extralang~="bdk"] > lang:empty {-oxy-append-content: ", будух.";}
:lang(be) > lang:empty {content: "белорусс.";}
*[extralang~="be"] > lang:empty {-oxy-append-content: ", белорусс.";}
:lang(bg) > lang:empty {content: "болг.";}
*[extralang~="bg"] > lang:empty {-oxy-append-content: ", болг.";}
:lang(bgn) > lang:empty {content: "бел. (зап.)";}
*[extralang~="bgn"] > lang:empty {-oxy-append-content: ", бел. (зап.)";}
:lang(bgp) > lang:empty {content: "бел. (вост.)";}
*[extralang~="bgp"] > lang:empty {-oxy-append-content: ", бел. (вост.)";}
:lang(bo) > lang:empty {content: "тибет.";}
*[extralang~="bo"] > lang:empty {-oxy-append-content: ", тибет.";}
:lang(bph) > lang:empty {content: "ботл.";}
*[extralang~="bph"] > lang:empty {-oxy-append-content: ", ботл.";}
:lang(br) > lang:empty {content: "брет.";}
*[extralang~="br"] > lang:empty {-oxy-append-content: ", брет.";}
:lang(brh) > lang:empty {content: "брахуи";}
*[extralang~="brh"] > lang:empty {-oxy-append-content: ", брахуи";}
:lang(bsk) > lang:empty {content: "верш.";}
*[extralang~="bsk"] > lang:empty {-oxy-append-content: ", верш.";}
:lang(bua) > lang:empty {content: "монг. бурят.";}
*[extralang~="bua"] > lang:empty {-oxy-append-content: ", монг. бурят.";}
:lang(cau) > lang:empty {content: "кавк.";}
*[extralang~="cau"] > lang:empty {-oxy-append-content: ", кавк.";}
:lang(ccs) > lang:empty {content: "картв.";}
*[extralang~="ccs"] > lang:empty {-oxy-append-content: ", картв.";}
:lang(ce) > lang:empty {content: "чеч.";}
*[extralang~="ce"] > lang:empty {-oxy-append-content: ", чеч.";}
:lang(cel) > lang:empty {content: "кельт.";}
*[extralang~="cel"] > lang:empty {-oxy-append-content: ", кельт.";}
:lang(chg) > lang:empty {content: "чагат.";}
*[extralang~="chg"] > lang:empty {-oxy-append-content: ", чагат.";}
:lang(chm) > lang:empty {content: "мар.";}
*[extralang~="chm"] > lang:empty {-oxy-append-content: ", мар.";}
:lang(cji) > lang:empty {content: "чамал.";}
*[extralang~="cji"] > lang:empty {-oxy-append-content: ", чамал.";}
:lang(cjs) > lang:empty {content: "шор.";}
*[extralang~="cjs"] > lang:empty {-oxy-append-content: ", шор.";}
:lang(ckb) > lang:empty {content: "сорани";}
*[extralang~="ckb"] > lang:empty {-oxy-append-content: ", сорани";}
:lang(cmg) > lang:empty {content: "монг. письм.";}
*[extralang~="cmg"] > lang:empty {-oxy-append-content: ", монг. письм.";}
:lang(crh) > lang:empty {content: "татар. (крым.)";}
*[extralang~="crh"] > lang:empty {-oxy-append-content: ", татар. (крым.)";}
:lang(cs) > lang:empty {content: "чеш.";}
*[extralang~="cs"] > lang:empty {-oxy-append-content: ", чеш.";}
:lang(cu) > lang:empty {content: "ст.слав.";}
*[extralang~="cu"] > lang:empty {-oxy-append-content: ", ст.слав.";}
:lang(cu-x-bg) > lang:empty {content: "др.болг.";}
*[extralang~="cu-x-bg"] > lang:empty {-oxy-append-content: ", др.болг.";}
:lang(cv) > lang:empty {content: "чув.";}
*[extralang~="cv"] > lang:empty {-oxy-append-content: ", чув.";}
:lang(cy) > lang:empty {content: "валл.";}
*[extralang~="cy"] > lang:empty {-oxy-append-content: ", валл.";}
:lang(cy-x-cymr) > lang:empty {content: "кимр.";}
*[extralang~="cy-x-cymr"] > lang:empty {-oxy-append-content: ", кимр.";}
:lang(da) > lang:empty {content: "дат.";}
*[extralang~="da"] > lang:empty {-oxy-append-content: ", дат.";}
:lang(dar) > lang:empty {content: "дарг.";}
*[extralang~="dar"] > lang:empty {-oxy-append-content: ", дарг.";}
:lang(dar-x-aqusha) > lang:empty {content: "акуш.";}
*[extralang~="dar-x-aqusha"] > lang:empty {-oxy-append-content: ", акуш.";}
:lang(dar-x-kaitag) > lang:empty {content: "кайт.";}
*[extralang~="dar-x-kaitag"] > lang:empty {-oxy-append-content: ", кайт.";}
:lang(ddo) > lang:empty {content: "дид.";}
*[extralang~="ddo"] > lang:empty {-oxy-append-content: ", дид.";}
:lang(de) > lang:empty {content: "нем.";}
*[extralang~="de"] > lang:empty {-oxy-append-content: ", нем.";}
:lang(de-x-dial) > lang:empty {content: "нем. (диал.)";}
*[extralang~="de-x-dial"] > lang:empty {-oxy-append-content: ", нем. (диал.)";}
:lang(el) > lang:empty {content: "н.гр.";}
*[extralang~="el"] > lang:empty {-oxy-append-content: ", н.гр.";}
:lang(elx) > lang:empty {content: "элам.";}
*[extralang~="elx"] > lang:empty {-oxy-append-content: ", элам.";}
:lang(en) > lang:empty {content: "англ.";}
*[extralang~="en"] > lang:empty {-oxy-append-content: ", англ.";}
:lang(es) > lang:empty {content: "исп.";}
*[extralang~="es"] > lang:empty {-oxy-append-content: ", исп.";}
:lang(et) > lang:empty {content: "эст.";}
*[extralang~="et"] > lang:empty {-oxy-append-content: ", эст.";}
:lang(eu) > lang:empty {content: "баск.";}
*[extralang~="eu"] > lang:empty {-oxy-append-content: ", баск.";}
:lang(evn) > lang:empty {content: "эвенк.";}
*[extralang~="evn"] > lang:empty {-oxy-append-content: ", эвенк.";}
:lang(fa) > lang:empty {content: "перс.";}
*[extralang~="fa"] > lang:empty {-oxy-append-content: ", перс.";}
:lang(fa-x-dial) > lang:empty {content: "перс. (диал.)";}
*[extralang~="fa-x-dial"] > lang:empty {-oxy-append-content: ", перс. (диал.)";}
:lang(fa-x-krmns) > lang:empty {content: "перс. (кирманшах.)";}
*[extralang~="fa-x-krmns"] > lang:empty {-oxy-append-content: ", перс. (кирманшах.)";}
:lang(fi) > lang:empty {content: "фин.";}
*[extralang~="fi"] > lang:empty {-oxy-append-content: ", фин.";}
:lang(fi-x-dial) > lang:empty {content: "фин. (диал.)";}
*[extralang~="fi-x-dial"] > lang:empty {-oxy-append-content: ", фин. (диал.)";}
:lang(fr) > lang:empty {content: "фр.";}
*[extralang~="fr"] > lang:empty {-oxy-append-content: ", фр.";}
:lang(fro) > lang:empty {content: "ст.фр.";}
*[extralang~="fro"] > lang:empty {-oxy-append-content: ", ст.фр.";}
:lang(frp) > lang:empty {content: "фр. (прованс.)";}
*[extralang~="frp"] > lang:empty {-oxy-append-content: ", фр. (прованс.)";}
:lang(frs) > lang:empty {content: "фриз. (вост.)";}
*[extralang~="frs"] > lang:empty {-oxy-append-content: ", фриз. (вост.)";}
:lang(fy) > lang:empty {content: "фриз.";}
*[extralang~="fy"] > lang:empty {-oxy-append-content: ", фриз.";}
:lang(ga) > lang:empty {content: "ирл.";}
*[extralang~="ga"] > lang:empty {-oxy-append-content: ", ирл.";}
:lang(gbz) > lang:empty {content: "габри";}
*[extralang~="gbz"] > lang:empty {-oxy-append-content: ", габри";}
:lang(gbz-x-yzd) > lang:empty {content: "язди";}
*[extralang~="gbz-x-yzd"] > lang:empty {-oxy-append-content: ", язди";}
:lang(gdo) > lang:empty {content: "годобер.";}
*[extralang~="gdo"] > lang:empty {-oxy-append-content: ", годобер.";}
:lang(gem) > lang:empty {content: "герм.";}
*[extralang~="gem"] > lang:empty {-oxy-append-content: ", герм.";}
:lang(gem-x-old) > lang:empty {content: "др.герм.";}
*[extralang~="gem-x-old"] > lang:empty {-oxy-append-content: ", др.герм.";}
:lang(glk) > lang:empty {content: "гилян.";}
*[extralang~="glk"] > lang:empty {-oxy-append-content: ", гилян.";}
:lang(gmh) > lang:empty {content: "ср.в.нем.";}
*[extralang~="gmh"] > lang:empty {-oxy-append-content: ", ср.в.нем.";}
:lang(gml) > lang:empty {content: "ср.н.нем.";}
*[extralang~="gml"] > lang:empty {-oxy-append-content: ", ср.н.нем.";}
:lang(goh) > lang:empty {content: "др.в.нем.";}
*[extralang~="goh"] > lang:empty {-oxy-append-content: ", др.в.нем.";}
:lang(got) > lang:empty {content: "гот.";}
*[extralang~="got"] > lang:empty {-oxy-append-content: ", гот.";}
:lang(got-x-crm) > lang:empty {content: "гот. (крым.)";}
*[extralang~="got-x-crm"] > lang:empty {-oxy-append-content: ", гот. (крым.)";}
:lang(grc) > lang:empty {content: "гр.";}
*[extralang~="grc"] > lang:empty {-oxy-append-content: ", гр.";}
:lang(grc-x-doric) > lang:empty {content: "гр. дор.";}
*[extralang~="grc-x-doric"] > lang:empty {-oxy-append-content: ", гр. дор.";}
:lang(hac) > lang:empty {content: "гуран.";}
*[extralang~="hac"] > lang:empty {-oxy-append-content: ", гуран.";}
:lang(hbo) > lang:empty {content: "др.евр.";}
*[extralang~="hbo"] > lang:empty {-oxy-append-content: ", др.евр.";}
:lang(hi) > lang:empty {content: "хинди";}
*[extralang~="hi"] > lang:empty {-oxy-append-content: ", хинди";}
:lang(hit) > lang:empty {content: "хетт.";}
*[extralang~="hit"] > lang:empty {-oxy-append-content: ", хетт.";}
:lang(hr) > lang:empty {content: "хорв.";}
*[extralang~="hr"] > lang:empty {-oxy-append-content: ", хорв.";}
:lang(hu) > lang:empty {content: "венг.";}
*[extralang~="hu"] > lang:empty {-oxy-append-content: ", венг.";}
:lang(huz) > lang:empty {content: "гунзиб.";}
*[extralang~="huz"] > lang:empty {-oxy-append-content: ", гунзиб.";}
:lang(iir) > lang:empty {content: "ар.";}
*[extralang~="iir"] > lang:empty {-oxy-append-content: ", ар.";}
:lang(inc) > lang:empty {content: "инд.";}
*[extralang~="inc"] > lang:empty {-oxy-append-content: ", инд.";}
:lang(inc-x-mid) > lang:empty {content: "ср.инд.";}
*[extralang~="inc-x-mid"] > lang:empty {-oxy-append-content: ", ср.инд.";}
:lang(inc-x-nnew) > lang:empty {content: "северные новоиндийские диалекты";}
*[extralang~="inc-x-nnew"] > lang:empty {-oxy-append-content: ", северные новоиндийские диалекты";}
:lang(inc-x-old) > lang:empty {content: "др.инд.";}
*[extralang~="inc-x-old"] > lang:empty {-oxy-append-content: ", др.инд.";}
:lang(ine) > lang:empty {content: "и.е.";}
*[extralang~="ine"] > lang:empty {-oxy-append-content: ", и.е.";}
:lang(inh) > lang:empty {content: "инг.";}
*[extralang~="inh"] > lang:empty {-oxy-append-content: ", инг.";}
:lang(ira) > lang:empty {content: "иран.";}
*[extralang~="ira"] > lang:empty {-oxy-append-content: ", иран.";}
:lang(ira-x-mid) > lang:empty {content: "ср.иран.";}
*[extralang~="ira-x-mid"] > lang:empty {-oxy-append-content: ", ср.иран.";}
:lang(is) > lang:empty {content: "исл.";}
*[extralang~="is"] > lang:empty {-oxy-append-content: ", исл.";}
:lang(isk) > lang:empty {content: "пам. ишк.";}
*[extralang~="isk"] > lang:empty {-oxy-append-content: ", пам. ишк.";}
:lang(it) > lang:empty {content: "ит.";}
*[extralang~="it"] > lang:empty {-oxy-append-content: ", ит.";}
:lang(ja) > lang:empty {content: "япон.";}
*[extralang~="ja"] > lang:empty {-oxy-append-content: ", япон.";}
:lang(ka) > lang:empty {content: "груз.";}
*[extralang~="ka"] > lang:empty {-oxy-append-content: ", груз.";}
:lang(ka-x-clq) > lang:empty {content: "груз. (разг.)";}
*[extralang~="ka-x-clq"] > lang:empty {-oxy-append-content: ", груз. (разг.)";}
:lang(ka-x-dial) > lang:empty {content: "груз. (диал.)";}
*[extralang~="ka-x-dial"] > lang:empty {-oxy-append-content: ", груз. (диал.)";}
:lang(ka-x-guria) > lang:empty {content: "груз. (гур.)";}
*[extralang~="ka-x-guria"] > lang:empty {-oxy-append-content: ", груз. (гур.)";}
:lang(ka-x-imer) > lang:empty {content: "груз. (имер.)";}
*[extralang~="ka-x-imer"] > lang:empty {-oxy-append-content: ", груз. (имер.)";}
:lang(ka-x-khevsur) > lang:empty {content: "груз. (хевсур.)";}
*[extralang~="ka-x-khevsur"] > lang:empty {-oxy-append-content: ", груз. (хевсур.)";}
:lang(ka-x-ingiloy) > lang:empty {content: "груз. (ингил.)";}
*[extralang~="ka-x-ingiloy"] > lang:empty {-oxy-append-content: ", груз. (ингил.)";}
:lang(ka-x-mokhev) > lang:empty {content: "груз. (мохев.)";}
*[extralang~="ka-x-mokhev"] > lang:empty {-oxy-append-content: ", груз. (мохев.)";}
:lang(ka-x-pshav) > lang:empty {content: "груз. (пшав.)";}
*[extralang~="ka-x-pshav"] > lang:empty {-oxy-append-content: ", груз. (пшав.)";}
:lang(ka-x-rachian) > lang:empty {content: "груз. (рачин.)";}
*[extralang~="ka-x-rachian"] > lang:empty {-oxy-append-content: ", груз. (рачин.)";}
:lang(kaa) > lang:empty {content: "каракалп.";}
*[extralang~="kaa"] > lang:empty {-oxy-append-content: ", каракалп.";}
:lang(kap) > lang:empty {content: "капуч.";}
*[extralang~="kap"] > lang:empty {-oxy-append-content: ", капуч.";}
:lang(kbd) > lang:empty {content: "каб.";}
*[extralang~="kbd"] > lang:empty {-oxy-append-content: ", каб.";}
:lang(kbd-x-crc) > lang:empty {content: "черк.";}
*[extralang~="kbd-x-crc"] > lang:empty {-oxy-append-content: ", черк.";}
:lang(kbd-x-crc-dial) > lang:empty {content: "черк. (диал.)";}
*[extralang~="kbd-x-crc-dial"] > lang:empty {-oxy-append-content: ", черк. (диал.)";}
:lang(kbd-x-crc-west) > lang:empty {content: "черк. (зап.)";}
*[extralang~="kbd-x-crc-west"] > lang:empty {-oxy-append-content: ", черк. (зап.)";}
:lang(kbd-x-dial) > lang:empty {content: "каб. (диал.)";}
*[extralang~="kbd-x-dial"] > lang:empty {-oxy-append-content: ", каб. (диал.)";}
:lang(kca) > lang:empty {content: "ханты";}
*[extralang~="kca"] > lang:empty {-oxy-append-content: ", ханты";}
:lang(kdr) > lang:empty {content: "караим.";}
*[extralang~="kdr"] > lang:empty {-oxy-append-content: ", караим.";}
:lang(kho) > lang:empty {content: "сак.";}
*[extralang~="kho"] > lang:empty {-oxy-append-content: ", сак.";}
:lang(khv) > lang:empty {content: "хварш.";}
*[extralang~="khv"] > lang:empty {-oxy-append-content: ", хварш.";}
:lang(khw) > lang:empty {content: "ховар.";}
*[extralang~="khw"] > lang:empty {-oxy-append-content: ", ховар.";}
:lang(khw-x-chtr) > lang:empty {content: "читр.";}
*[extralang~="khw-x-chtr"] > lang:empty {-oxy-append-content: ", читр.";}
:lang(kjh) > lang:empty {content: "хакас.";}
*[extralang~="kjh"] > lang:empty {-oxy-append-content: ", хакас.";}
:lang(kjj) > lang:empty {content: "хиналуг.";}
*[extralang~="kjj"] > lang:empty {-oxy-append-content: ", хиналуг.";}
:lang(kk) > lang:empty {content: "каз.";}
*[extralang~="kk"] > lang:empty {-oxy-append-content: ", каз.";}
:lang(kpt) > lang:empty {content: "карат.";}
*[extralang~="kpt"] > lang:empty {-oxy-append-content: ", карат.";}
:lang(krc-x-balkar) > lang:empty {content: "балк.";}
*[extralang~="krc-x-balkar"] > lang:empty {-oxy-append-content: ", балк.";}
:lang(krc-x-karachay) > lang:empty {content: "карач.";}
*[extralang~="krc-x-karachay"] > lang:empty {-oxy-append-content: ", карач.";}
:lang(krl) > lang:empty {content: "карел.";}
*[extralang~="krl"] > lang:empty {-oxy-append-content: ", карел.";}
:lang(kry) > lang:empty {content: "крыз.";}
*[extralang~="kry"] > lang:empty {-oxy-append-content: ", крыз.";}
:lang(kry-x-jek) > lang:empty {content: "джекск.";}
*[extralang~="kry-x-jek"] > lang:empty {-oxy-append-content: ", джекск.";}
:lang(ku) > lang:empty {content: "курд.";}
*[extralang~="ku"] > lang:empty {-oxy-append-content: ", курд.";}
:lang(kum) > lang:empty {content: "кум.";}
*[extralang~="kum"] > lang:empty {-oxy-append-content: ", кум.";}
:lang(kv) > lang:empty {content: "коми";}
*[extralang~="kv"] > lang:empty {-oxy-append-content: ", коми";}
:lang(kw) > lang:empty {content: "корн.";}
*[extralang~="kw"] > lang:empty {-oxy-append-content: ", корн.";}
:lang(ky) > lang:empty {content: "кирг.";}
*[extralang~="ky"] > lang:empty {-oxy-append-content: ", кирг.";}
:lang(la) > lang:empty {content: "лат.";}
*[extralang~="la"] > lang:empty {-oxy-append-content: ", лат.";}
:lang(lbe) > lang:empty {content: "лак.";}
*[extralang~="lbe"] > lang:empty {-oxy-append-content: ", лак.";}
:lang(ldd) > lang:empty {content: "лур.";}
*[extralang~="ldd"] > lang:empty {-oxy-append-content: ", лур.";}
:lang(lez) > lang:empty {content: "лезг.";}
*[extralang~="lez"] > lang:empty {-oxy-append-content: ", лезг.";}
:lang(liv) > lang:empty {content: "лив.";}
*[extralang~="liv"] > lang:empty {-oxy-append-content: ", лив.";}
:lang(lt) > lang:empty {content: "лит.";}
*[extralang~="lt"] > lang:empty {-oxy-append-content: ", лит.";}
:lang(lt-x-dial) > lang:empty {content: "лит. (диал.)";}
*[extralang~="lt-x-dial"] > lang:empty {-oxy-append-content: ", лит. (диал.)";}
:lang(lv) > lang:empty {content: "латыш.";}
*[extralang~="lv"] > lang:empty {-oxy-append-content: ", латыш.";}
:lang(lzz) > lang:empty {content: "чан.";}
*[extralang~="lzz"] > lang:empty {-oxy-append-content: ", чан.";}
:lang(mga) > lang:empty {content: "ср.ирл.";}
*[extralang~="mga"] > lang:empty {-oxy-append-content: ", ср.ирл.";}
:lang(mis-x-khuri) > lang:empty {content: "хури";}
*[extralang~="mis-x-khuri"] > lang:empty {-oxy-append-content: ", хури";}
:lang(mn) > lang:empty {content: "монг.";}
*[extralang~="mn"] > lang:empty {-oxy-append-content: ", монг.";}
:lang(mn-x-uriankh) > lang:empty {content: "урянх.";}
*[extralang~="mn-x-uriankh"] > lang:empty {-oxy-append-content: ", урянх.";}
:lang(mnj) > lang:empty {content: "пам. м.";}
*[extralang~="mnj"] > lang:empty {-oxy-append-content: ", пам. м.";}
:lang(mns) > lang:empty {content: "манси";}
*[extralang~="mns"] > lang:empty {-oxy-append-content: ", манси";}
:lang(mzn) > lang:empty {content: "маз.";}
*[extralang~="mzn"] > lang:empty {-oxy-append-content: ", маз.";}
:lang(nds) > lang:empty {content: "н.н.нем.";}
*[extralang~="nds"] > lang:empty {-oxy-append-content: ", н.н.нем.";}
:lang(ne) > lang:empty {content: "непал.";}
*[extralang~="ne"] > lang:empty {-oxy-append-content: ", непал.";}
:lang(nl) > lang:empty {content: "нидерл.";}
*[extralang~="nl"] > lang:empty {-oxy-append-content: ", нидерл.";}
:lang(no) > lang:empty {content: "норв.";}
*[extralang~="no"] > lang:empty {-oxy-append-content: ", норв.";}
:lang(no-x-dial) > lang:empty {content: "норв. (диал.)";}
*[extralang~="no-x-dial"] > lang:empty {-oxy-append-content: ", норв. (диал.)";}
:lang(nog) > lang:empty {content: "ног.";}
*[extralang~="nog"] > lang:empty {-oxy-append-content: ", ног.";}
:lang(non) > lang:empty {content: "др.сев.";}
*[extralang~="non"] > lang:empty {-oxy-append-content: ", др.сев.";}
:lang(non-x-is) > lang:empty {content: "др.исл.";}
*[extralang~="non-x-is"] > lang:empty {-oxy-append-content: ", др.исл.";}
:lang(nub) > lang:empty {content: "нубийское";}
*[extralang~="nub"] > lang:empty {-oxy-append-content: ", нубийское";}
:lang(oc) > lang:empty {content: "прованс.";}
*[extralang~="oc"] > lang:empty {-oxy-append-content: ", прованс.";}
:lang(ofs) > lang:empty {content: "др.фриз.";}
*[extralang~="ofs"] > lang:empty {-oxy-append-content: ", др.фриз.";}
:lang(oos) > lang:empty {content: "ст.ос.";}
*[extralang~="oos"] > lang:empty {-oxy-append-content: ", ст.ос.";}
:lang(oru) > lang:empty {content: "орм.";}
*[extralang~="oru"] > lang:empty {-oxy-append-content: ", орм.";}
:lang(orv) > lang:empty {content: "др.русск.";}
*[extralang~="orv"] > lang:empty {-oxy-append-content: ", др.русск.";}
:lang(os) > lang:empty {content: "ос.";}
*[extralang~="os"] > lang:empty {-oxy-append-content: ", ос.";}
:lang(os-x-digor) > lang:empty {content: "д.";}
*[extralang~="os-x-digor"] > lang:empty {-oxy-append-content: ", д.";}
:lang(os-x-iron) > lang:empty {content: "и.";}
*[extralang~="os-x-iron"] > lang:empty {-oxy-append-content: ", и.";}
:lang(os-x-ksan) > lang:empty {content: "ксан.";}
*[extralang~="os-x-ksan"] > lang:empty {-oxy-append-content: ", ксан.";}
:lang(os-x-south) > lang:empty {content: "ю.";}
*[extralang~="os-x-south"] > lang:empty {-oxy-append-content: ", ю.";}
:lang(osx) > lang:empty {content: "др.сакс.";}
*[extralang~="osx"] > lang:empty {-oxy-append-content: ", др.сакс.";}
:lang(pa) > lang:empty {content: "пенджаби";}
*[extralang~="pa"] > lang:empty {-oxy-append-content: ", пенджаби";}
:lang(pal) > lang:empty {content: "пехл.";}
*[extralang~="pal"] > lang:empty {-oxy-append-content: ", пехл.";}
:lang(pal-x-pazend) > lang:empty {content: "паз.";}
*[extralang~="pal-x-pazend"] > lang:empty {-oxy-append-content: ", паз.";}
:lang(pal-x-turfan) > lang:empty {content: "пехл. турф.";}
*[extralang~="pal-x-turfan"] > lang:empty {-oxy-append-content: ", пехл. турф.";}
:lang(peo) > lang:empty {content: "др.перс.";}
*[extralang~="peo"] > lang:empty {-oxy-append-content: ", др.перс.";}
:lang(pgd) > lang:empty {content: "кхарошти";}
*[extralang~="pgd"] > lang:empty {-oxy-append-content: ", кхарошти";}
:lang(pi) > lang:empty {content: "пали";}
*[extralang~="pi"] > lang:empty {-oxy-append-content: ", пали";}
:lang(pl) > lang:empty {content: "пол.";}
*[extralang~="pl"] > lang:empty {-oxy-append-content: ", пол.";}
:lang(pra) > lang:empty {content: "пракрит.";}
*[extralang~="pra"] > lang:empty {-oxy-append-content: ", пракрит.";}
:lang(prc) > lang:empty {content: "пар.";}
*[extralang~="prc"] > lang:empty {-oxy-append-content: ", пар.";}
:lang(prg) > lang:empty {content: "др.прусс.";}
*[extralang~="prg"] > lang:empty {-oxy-append-content: ", др.прусс.";}
:lang(prs) > lang:empty {content: "тадж. (кабули)";}
*[extralang~="prs"] > lang:empty {-oxy-append-content: ", тадж. (кабули)";}
:lang(ps) > lang:empty {content: "афг.";}
*[extralang~="ps"] > lang:empty {-oxy-append-content: ", афг.";}
:lang(psh) > lang:empty {content: "пашан";}
*[extralang~="psh"] > lang:empty {-oxy-append-content: ", пашан";}
:lang(qwm) > lang:empty {content: "куман.";}
*[extralang~="qwm"] > lang:empty {-oxy-append-content: ", куман.";}
:lang(ro) > lang:empty {content: "рум.";}
*[extralang~="ro"] > lang:empty {-oxy-append-content: ", рум.";}
:lang(rom) > lang:empty {content: "цыган.";}
*[extralang~="rom"] > lang:empty {-oxy-append-content: ", цыган.";}
:lang(ru) > lang:empty {content: "русск.";}
*[extralang~="ru"] > lang:empty {-oxy-append-content: ", русск.";}
:lang(ru-x-argot) > lang:empty {content: "русск. (арго)";}
*[extralang~="ru-x-argot"] > lang:empty {-oxy-append-content: ", русск. (арго)";}
:lang(ru-x-dial) > lang:empty {content: "русск. (диал.)";}
*[extralang~="ru-x-dial"] > lang:empty {-oxy-append-content: ", русск. (диал.)";}
:lang(ru-x-smlnsk) > lang:empty {content: "русск. (смол.)";}
*[extralang~="ru-x-smlnsk"] > lang:empty {-oxy-append-content: ", русск. (смол.)";}
:lang(ru-x-south) > lang:empty {content: "русск. (южн. диал.)";}
*[extralang~="ru-x-south"] > lang:empty {-oxy-append-content: ", русск. (южн. диал.)";}
:lang(ru-x-vldmr) > lang:empty {content: "русск. (влад.)";}
*[extralang~="ru-x-vldmr"] > lang:empty {-oxy-append-content: ", русск. (влад.)";}
:lang(rut) > lang:empty {content: "рутул.";}
*[extralang~="rut"] > lang:empty {-oxy-append-content: ", рутул.";}
:lang(sa) > lang:empty {content: "скр.";}
*[extralang~="sa"] > lang:empty {-oxy-append-content: ", скр.";}
:lang(sa-vaidika) > lang:empty {content: "вед.";}
*[extralang~="sa-vaidika"] > lang:empty {-oxy-append-content: ", вед.";}
:lang(sah) > lang:empty {content: "якут.";}
*[extralang~="sah"] > lang:empty {-oxy-append-content: ", якут.";}
:lang(sem) > lang:empty {content: "семит.";}
*[extralang~="sem"] > lang:empty {-oxy-append-content: ", семит.";}
:lang(sga) > lang:empty {content: "др.ирл.";}
*[extralang~="sga"] > lang:empty {-oxy-append-content: ", др.ирл.";}
:lang(sgh) > lang:empty {content: "пам. ш.";}
*[extralang~="sgh"] > lang:empty {-oxy-append-content: ", пам. ш.";}
:lang(sgh-x-bartang) > lang:empty {content: "пам. барт.";}
*[extralang~="sgh-x-bartang"] > lang:empty {-oxy-append-content: ", пам. барт.";}
:lang(sgh-x-khufi) > lang:empty {content: "хуф.";}
*[extralang~="sgh-x-khufi"] > lang:empty {-oxy-append-content: ", хуф.";}
:lang(sgh-x-oroshori) > lang:empty {content: "пам. ор.";}
*[extralang~="sgh-x-oroshori"] > lang:empty {-oxy-append-content: ", пам. ор.";}
:lang(sgy) > lang:empty {content: "пам. сгл.";}
*[extralang~="sgy"] > lang:empty {-oxy-append-content: ", пам. сгл.";}
:lang(sgy-x-zebak) > lang:empty {content: "пам. зеб.";}
*[extralang~="sgy-x-zebak"] > lang:empty {-oxy-append-content: ", пам. зеб.";}
:lang(sh) > lang:empty {content: "сербо-хорв.";}
*[extralang~="sh"] > lang:empty {-oxy-append-content: ", сербо-хорв.";}
:lang(sl) > lang:empty {content: "слов.";}
*[extralang~="sl"] > lang:empty {-oxy-append-content: ", слов.";}
:lang(sla) > lang:empty {content: "слав.";}
*[extralang~="sla"] > lang:empty {-oxy-append-content: ", слав.";}
:lang(smi) > lang:empty {content: "лопар.";}
*[extralang~="smi"] > lang:empty {-oxy-append-content: ", лопар.";}
:lang(smy) > lang:empty {content: "семнан.";}
*[extralang~="smy"] > lang:empty {-oxy-append-content: ", семнан.";}
:lang(sog) > lang:empty {content: "согд.";}
*[extralang~="sog"] > lang:empty {-oxy-append-content: ", согд.";}
:lang(sog-x-budd) > lang:empty {content: "согд. будд.";}
*[extralang~="sog-x-budd"] > lang:empty {-oxy-append-content: ", согд. будд.";}
:lang(sog-x-chr) > lang:empty {content: "согд. христ.";}
*[extralang~="sog-x-chr"] > lang:empty {-oxy-append-content: ", согд. христ.";}
:lang(sog-x-man) > lang:empty {content: "согд. ман.";}
*[extralang~="sog-x-man"] > lang:empty {-oxy-append-content: ", согд. ман.";}
:lang(sog-x-mugh) > lang:empty {content: "согд. (Муг)";}
*[extralang~="sog-x-mugh"] > lang:empty {-oxy-append-content: ", согд. (Муг)";}
:lang(sqj) > lang:empty {content: "алб.";}
*[extralang~="sqj"] > lang:empty {-oxy-append-content: ", алб.";}
:lang(sr) > lang:empty {content: "серб.";}
*[extralang~="sr"] > lang:empty {-oxy-append-content: ", серб.";}
:lang(srh) > lang:empty {content: "пам. с.";}
*[extralang~="srh"] > lang:empty {-oxy-append-content: ", пам. с.";}
:lang(sty) > lang:empty {content: "тобол.";}
*[extralang~="sty"] > lang:empty {-oxy-append-content: ", тобол.";}
:lang(sux) > lang:empty {content: "шумер.";}
*[extralang~="sux"] > lang:empty {-oxy-append-content: ", шумер.";}
:lang(sv) > lang:empty {content: "швед.";}
*[extralang~="sv"] > lang:empty {-oxy-append-content: ", швед.";}
:lang(sv-x-dial) > lang:empty {content: "швед. (диал.)";}
*[extralang~="sv-x-dial"] > lang:empty {-oxy-append-content: ", швед. (диал.)";}
:lang(sva) > lang:empty {content: "сван.";}
*[extralang~="sva"] > lang:empty {-oxy-append-content: ", сван.";}
:lang(syr) > lang:empty {content: "сир.";}
*[extralang~="syr"] > lang:empty {-oxy-append-content: ", сир.";}
:lang(tab) > lang:empty {content: "табас.";}
*[extralang~="tab"] > lang:empty {-oxy-append-content: ", табас.";}
:lang(tg) > lang:empty {content: "тадж.";}
*[extralang~="tg"] > lang:empty {-oxy-append-content: ", тадж.";}
:lang(tg-x-dial) > lang:empty {content: "тадж. (диал.)";}
*[extralang~="tg-x-dial"] > lang:empty {-oxy-append-content: ", тадж. (диал.)";}
:lang(tg-x-qrtg) > lang:empty {content: "тадж. (каратег.)";}
*[extralang~="tg-x-qrtg"] > lang:empty {-oxy-append-content: ", тадж. (каратег.)";}
:lang(tg-x-vanj) > lang:empty {content: "тадж. (вандж.)";}
*[extralang~="tg-x-vanj"] > lang:empty {-oxy-append-content: ", тадж. (вандж.)";}
:lang(tk) > lang:empty {content: "туркм.";}
*[extralang~="tk"] > lang:empty {-oxy-append-content: ", туркм.";}
:lang(tkr) > lang:empty {content: "цахур.";}
*[extralang~="tkr"] > lang:empty {-oxy-append-content: ", цахур.";}
:lang(tly) > lang:empty {content: "тал.";}
*[extralang~="tly"] > lang:empty {-oxy-append-content: ", тал.";}
:lang(tr) > lang:empty {content: "тур.";}
*[extralang~="tr"] > lang:empty {-oxy-append-content: ", тур.";}
:lang(tr-x-anat) > lang:empty {content: "анат.";}
*[extralang~="tr-x-anat"] > lang:empty {-oxy-append-content: ", анат.";}
:lang(trk) > lang:empty {content: "тюрк.";}
*[extralang~="trk"] > lang:empty {-oxy-append-content: ", тюрк.";}
:lang(trk-x-north) > lang:empty {content: "сев. тюрк.";}
*[extralang~="trk-x-north"] > lang:empty {-oxy-append-content: ", сев. тюрк.";}
:lang(tt) > lang:empty {content: "татар.";}
*[extralang~="tt"] > lang:empty {-oxy-append-content: ", татар.";}
:lang(tt-x-kazan) > lang:empty {content: "казан.";}
*[extralang~="tt-x-kazan"] > lang:empty {-oxy-append-content: ", казан.";}
:lang(ttt) > lang:empty {content: "татск.";}
*[extralang~="ttt"] > lang:empty {-oxy-append-content: ", татск.";}
:lang(txb) > lang:empty {content: "тохар. B";}
*[extralang~="txb"] > lang:empty {-oxy-append-content: ", тохар. B";}
:lang(txh) > lang:empty {content: "фрак.";}
*[extralang~="txh"] > lang:empty {-oxy-append-content: ", фрак.";}
:lang(uby) > lang:empty {content: "убых.";}
*[extralang~="uby"] > lang:empty {-oxy-append-content: ", убых.";}
:lang(udi) > lang:empty {content: "удин.";}
*[extralang~="udi"] > lang:empty {-oxy-append-content: ", удин.";}
:lang(udm) > lang:empty {content: "удм.";}
*[extralang~="udm"] > lang:empty {-oxy-append-content: ", удм.";}
:lang(ug) > lang:empty {content: "уйгур.";}
*[extralang~="ug"] > lang:empty {-oxy-append-content: ", уйгур.";}
:lang(ug-x-kashgar) > lang:empty {content: "кашг.";}
*[extralang~="ug-x-kashgar"] > lang:empty {-oxy-append-content: ", кашг.";}
:lang(uk) > lang:empty {content: "укр.";}
*[extralang~="uk"] > lang:empty {-oxy-append-content: ", укр.";}
:lang(uk-x-gal) > lang:empty {content: "укр. (галиц.)";}
*[extralang~="uk-x-gal"] > lang:empty {-oxy-append-content: ", укр. (галиц.)";}
:lang(uk-x-west) > lang:empty {content: "укр. (зап.)";}
*[extralang~="uk-x-west"] > lang:empty {-oxy-append-content: ", укр. (зап.)";}
:lang(uz) > lang:empty {content: "узб.";}
*[extralang~="uz"] > lang:empty {-oxy-append-content: ", узб.";}
:lang(vep) > lang:empty {content: "вепс.";}
*[extralang~="vep"] > lang:empty {-oxy-append-content: ", вепс.";}
:lang(wbl) > lang:empty {content: "пам. в.";}
*[extralang~="wbl"] > lang:empty {-oxy-append-content: ", пам. в.";}
:lang(wen) > lang:empty {content: "луж.";}
*[extralang~="wen"] > lang:empty {-oxy-append-content: ", луж.";}
:lang(wne) > lang:empty {content: "ванеци";}
*[extralang~="wne"] > lang:empty {-oxy-append-content: ", ванеци";}
:lang(wsv) > lang:empty {content: "вотапурско-катаркалайское";}
*[extralang~="wsv"] > lang:empty {-oxy-append-content: ", вотапурско-катаркалайское";}
:lang(x-balochi) > lang:empty {content: "бел.";}
*[extralang~="x-balochi"] > lang:empty {-oxy-append-content: ", бел.";}
:lang(x-iazyg) > lang:empty {content: "языгский";}
*[extralang~="x-iazyg"] > lang:empty {-oxy-append-content: ", языгский";}
:lang(x-mordvin) > lang:empty {content: "морд.";}
*[extralang~="x-mordvin"] > lang:empty {-oxy-append-content: ", морд.";}
:lang(x-nuristan) > lang:empty {content: "кафир.";}
*[extralang~="x-nuristan"] > lang:empty {-oxy-append-content: ", кафир.";}
:lang(x-oldirn) > lang:empty {content: "др.иран.";}
*[extralang~="x-oldirn"] > lang:empty {-oxy-append-content: ", др.иран.";}
:lang(x-oldsl) > lang:empty {content: "др.слав.";}
*[extralang~="x-oldsl"] > lang:empty {-oxy-append-content: ", др.слав.";}
:lang(x-pamir) > lang:empty {content: "пам.";}
*[extralang~="x-pamir"] > lang:empty {-oxy-append-content: ", пам.";}
:lang(x-pamir-n) > lang:empty {content: "пам. н.??";}
*[extralang~="x-pamir-n"] > lang:empty {-oxy-append-content: ", пам. н.??";}
:lang(x-rushani) > lang:empty {content: "пам. руш.";}
*[extralang~="x-rushani"] > lang:empty {-oxy-append-content: ", пам. руш.";}
:lang(x-tchr) > lang:empty {content: "тохар.";}
*[extralang~="x-tchr"] > lang:empty {-oxy-append-content: ", тохар.";}
:lang(x-vaynakh) > lang:empty {content: "вейнах.";}
*[extralang~="x-vaynakh"] > lang:empty {-oxy-append-content: ", вейнах.";}
:lang(xal) > lang:empty {content: "калм.";}
*[extralang~="xal"] > lang:empty {-oxy-append-content: ", калм.";}
:lang(xbc) > lang:empty {content: "кушан.";}
*[extralang~="xbc"] > lang:empty {-oxy-append-content: ", кушан.";}
:lang(xbo) > lang:empty {content: "булг.";}
*[extralang~="xbo"] > lang:empty {-oxy-append-content: ", булг.";}
:lang(xcl) > lang:empty {content: "арм.";}
*[extralang~="xcl"] > lang:empty {-oxy-append-content: ", арм.";}
:lang(xhu) > lang:empty {content: "хурр.";}
*[extralang~="xhu"] > lang:empty {-oxy-append-content: ", хурр.";}
:lang(xln) > lang:empty {content: "алан.";}
*[extralang~="xln"] > lang:empty {-oxy-append-content: ", алан.";}
:lang(xlu) > lang:empty {content: "лув.";}
*[extralang~="xlu"] > lang:empty {-oxy-append-content: ", лув.";}
:lang(xme) > lang:empty {content: "мид.";}
*[extralang~="xme"] > lang:empty {-oxy-append-content: ", мид.";}
:lang(xmf) > lang:empty {content: "мегр.";}
*[extralang~="xmf"] > lang:empty {-oxy-append-content: ", мегр.";}
:lang(xmn) > lang:empty {content: "пехл. (маних.)";}
*[extralang~="xmn"] > lang:empty {-oxy-append-content: ", пехл. (маних.)";}
:lang(xpg) > lang:empty {content: "фриг.";}
*[extralang~="xpg"] > lang:empty {-oxy-append-content: ", фриг.";}
:lang(xpr) > lang:empty {content: "парф.";}
*[extralang~="xpr"] > lang:empty {-oxy-append-content: ", парф.";}
:lang(xsc) > lang:empty {content: "скиф.";}
*[extralang~="xsc"] > lang:empty {-oxy-append-content: ", скиф.";}
:lang(xtg) > lang:empty {content: "галл.";}
*[extralang~="xtg"] > lang:empty {-oxy-append-content: ", галл.";}
:lang(xto) > lang:empty {content: "тохар. A";}
*[extralang~="xto"] > lang:empty {-oxy-append-content: ", тохар. A";}
:lang(xtq) > lang:empty {content: "сак. (Тумшук)";}
*[extralang~="xtq"] > lang:empty {-oxy-append-content: ", сак. (Тумшук)";}
:lang(xum) > lang:empty {content: "умбр.";}
*[extralang~="xum"] > lang:empty {-oxy-append-content: ", умбр.";}
:lang(yah) > lang:empty {content: "пам. язг.";}
*[extralang~="yah"] > lang:empty {-oxy-append-content: ", пам. язг.";}
:lang(yai) > lang:empty {content: "ягн.";}
*[extralang~="yai"] > lang:empty {-oxy-append-content: ", ягн.";}
:lang(ydg) > lang:empty {content: "пам. и.";}
*[extralang~="ydg"] > lang:empty {-oxy-append-content: ", пам. и.";}
:lang(yrk) > lang:empty {content: "нен.";}
*[extralang~="yrk"] > lang:empty {-oxy-append-content: ", нен.";}
:lang(ysc) > lang:empty {content: "ясск.";}
*[extralang~="ysc"] > lang:empty {-oxy-append-content: ", ясск.";}
:lang(zh) > lang:empty {content: "кит.";}
*[extralang~="zh"] > lang:empty {-oxy-append-content: ", кит.";}
:lang(zkh) > lang:empty {content: "хорезм.";}
*[extralang~="zkh"] > lang:empty {-oxy-append-content: ", хорезм.";}
:lang(zza) > lang:empty {content: "заза";}
*[extralang~="zza"] > lang:empty {-oxy-append-content: ", заза";}
